.return-button {
  align-items: center;
  background: var(--element-background);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--foreground);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: 12px;
  height: 40px;
  justify-content: center;
  margin: 80px;
  margin-right: 0px;
  width: 140px;
}

.return-button:hover {
  box-shadow: var(--box-shadow-hover);
}

.country-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 50px;
  justify-content: space-between;
  margin-left: 80px;
  max-width: 1400px;
}

.country-details .flag img {
  border: 1px solid var(--flag-border);
  height: 400px;
  width: 550px;
}

.detail-box .country-name {
  align-items: center;
  display: flex;
  font-size: 32px;
  font-weight: 800;
  height: fit-content;
  margin-top: 40px;
}

.detail-box .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.detail-container {
  margin-top: 27px;
  width: 345px;
}

.detail-container .property {
  align-items: flex-start;
  display: flex;
  font-size: 16px;
  gap: 0 5px;
  margin-bottom: 10px;
}

.detail-container .property-name {
  font-weight: 300;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  margin-top: 61px;
}

.border-countries .property-name {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 300;
  height: 30px;
  width: 140px;
}

.border-countries .tab-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: flex-start;
  margin: 0;
  width: 500px;
}

.border-countries .tab-container .tab {
  align-items: center;
  background-color: var(--element-background);
  border-radius: 2px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 28px;
  justify-content: center;
  width: 96px;
}

.border-countries .tab-container .supertab {
  width: 202px;
}

.border-countries .tab-container .tab:hover {
  box-shadow: var(--box-shadow-hover);
}

@media screen and (max-width: 612px) {
  .return-button {
    margin-top: 50px;
    margin-left: 30px;
  }

  .country-details {
    margin-left: 30px;
  }

  .country-details .flag img {
    height: 250px;
    width: 320px;
  }

  .border-countries .tab-container {
    width: 330px;
  }
}
