.filter {
  --height: 56px;

  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: space-between;
  row-gap: 50px;
}

.search-wrapper {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--input_color);
  display: flex;
  height: fit-content;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  width: fit-content;
}

.search-wrapper * {
  background: var(--element-background);
  border: none;
  box-sizing: border-box;
}

.search-wrapper button {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: var(--input_color);
  cursor: pointer;
  height: var(--height);
  width: 70px;
}

.search-wrapper button .fa {
  font-size: 16px;
}

.search-wrapper input {
  align-items: center;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--input_color);
  display: flex;
  height: var(--height);
  width: 410px;
}

.search-wrapper input:focus,
.search-wrapper button:focus {
  outline: 0;
}

.search-wrapper:focus-within,
.search-wrapper:hover {
  box-shadow: var(--box-shadow-hover);
}

.dropdown * {
  cursor: pointer;
}

.dropdown {
  align-items: center;
  background: var(--element-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  height: var(--height);
  justify-content: space-between;
  margin-right: var(--margin-right);
  margin-left: var(--margin-left);
  width: 200px;
}

.menu:hover,
.dropdown:hover {
  box-shadow: var(--box-shadow-hover);
}

.selected {
  margin-left: 13%;
}

.caret {
  border: solid var(--foreground);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-right: 10%;
  padding: 3px;
  transform: rotate(45deg);
}

.menu {
  background: var(--element-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: none;
  font-size: 14px;
  list-style: none;
  margin-right: 0;
  margin-top: 240px;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 99;
}

.menu li {
  margin-left: 0px;
  padding: 4px;
  padding-left: 25px;
}

.menu li:hover {
  box-shadow: var(--box-shadow-hover);
}

.menu li:first-child {
  margin-top: 12px;
}

.menu li:last-child {
  margin-bottom: 12px;
}

.menu-open {
  display: block;
}

.menu .active {
  font-weight: 800;
}

.country-container {
  display: grid;
  gap: 74px 40px;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: space-between;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  margin-top: 50px;
}

.country-tile {
  background: var(--element-background);
  border: none;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  height: 335px;
  width: 270px;
}

.country-tile:hover {
  box-shadow: var(--box-shadow-hover);
}

.country-tile .country-flag {
  border-bottom: 1px solid var(--flag-border);
  border-radius: 6px 6px 0 0;
  height: 160px;
  width: 100%;
}

.country-tile .details {
  margin: 20px 25px;
}

.country-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}

.country-tile .property {
  display: flex;
}

.country-tile .property-name {
  font-size: 14px;
  font-weight: 300;
}

.country-tile .property-value {
  font-size: 14px;
  margin-left: 5px;
}

@media screen and (max-width: 612px) {
  .search-wrapper input {
    width: 250px;
  }

  .dropdown {
    margin-left: 30px;
  }

  .country-container {
    justify-content: center;
  }

  .banner .title {
    font-size: 16px;
  }
}
