.banner {
  align-items: center;
  background: var(--element-background);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-left: var(--margin-left);
}

.dark-mode-toggle {
  align-items: center;
  background: none;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: 10px;
  justify-content: space-between;
  margin-right: var(--margin-right);
  text-shadow: var(--text-shadow);
}

.dark-mode-toggle:hover {
  text-shadow: 0px 0px 15px var(--foreground);
}
